.swiftpm
*.xcframework
.build
CocoaPodTestApp.xcworkspace/xcuserdata
Pods
.DS_Store
NuggetSDKExample/NuggetSDKExample.xcodeproj/xcuserdata
NuggetSDKExample/NuggetSDKExample.xcodeproj/project.xcworkspace/xcuserdata
NuggetSDKExample/NuggetSDKExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
